body
{
    margin-left:30px;
    margin-right:30px;
    margin-top:10px;
    margin-bottom:20px;
}
.home {
    background-image: url("1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
div.head {
    border: 5px solid black;
    display:flex;
    flex-direction:row;
    position:sticky;
    background-color:black;
}
div.cont_1 {
    border: 2px solid black;
    width: 40%; 
    margin:10px;
    

}
h2.cont_1 {
    color:white;
}
.cont_2 {
    border: 2px solid black;
    width:60%;
    margin: 10px;
    text-align:match-parent;
}
li.head {
    display:inline;
    padding:3px;
    margin-right:5px;
}
ul.head {
    border: 3px solid black;
    text-align: end;
    font-weight: bold;
}
li.head {
    color:rgba(0, 0, 0, 0);
}
.link_1 {
    text-decoration:none;
    color:rgb(255, 255, 255);
}
div.img1 {
    margin-top: 70px;
    text-align:center;
}
img.img1 {
    border: 3px solid rgb(255, 255, 255);
}
h3.img1 {
    margin-top: 10px;
    color:rgb(0, 0, 0);
    font-size:20px;
}
h2.img1{
    margin-top:30px;
    color:rgb(0, 0, 0);
    font-size: 50px;
}
h1.img1 {
    margin-top: 10px;
    padding-bottom: 150px;
    color: rgb(0, 0, 0);
    font-size: 60px;
}
div.about {
    text-align:center;
    padding-top:40px;
    padding-bottom:100px;

}
.p1 {
    margin-top:5px;
    font-size: 25px;
}
.p2 {
    margin-top:5px;
    font-size:20px;
    margin-bottom:5px;
}
.p3 {
    text-align: center;
    width:60%;
    font-size: 18px;
    margin:auto;
}
.sp2 {
    font-weight: bold;
}
.sp3 {
    font-weight: bold;
}
.skills {
    background-color:lightgray;
    text-align:center;
    padding-top:40px;
}
.shead {
    margin-bottom:30px;
}
.container {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}
.cont1 {
    width:33.3%;
    text-align:center;
}
.cont2 {
    width: 33.3%;
    text-align: center;
}
.cont3 {
    width: 33.3%;
    text-align: center;
}
.p4 {
    margin-top: 7px;
    width: 60%;
    margin: auto;
}
.p5 {
    margin-top: 7px;
    width: 60%;
    margin: auto;
}
.p6 {
    width: 60%;
    margin: auto;
}
.sp4 {
    font-weight: bold;
    font-size:18px;
}
.img2 {
    padding-bottom:10px;
    
}
.work {
    padding-top: 50px;
    text-align: center;
}

.cont4 {
    margin-top:50px;
    background-image: url("4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:250px;
    text-align:center;
}
.wbody {
    padding-top:30px;
}
.contact {
    background-color: lightgray;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}



* {
    box-sizing: border-box;
 }
 body {
    background: #FFF2E3;
 }
 .wedding {
    position: relative;
    max-width: 320px;
    margin: 50px auto 0;
    text-align: center;
 }
 .form-inner:before {
    display: inline-block;
    margin-top: -45px;
    content: url(https://html5book.ru/wp-content/uploads/2017/05/form-flower.png);
 }
 .form-inner {
    padding: 0 40px 10px;
    margin-top: 45px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .1);
 }
 .form-inner h2 {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
 }
 .form-content {
    position: relative;
    margin: 30px -40px 0 -40px;
    padding: 10px 40px 0 40px;
    background: #FFF8F3;
 }
 .form-content:before {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    height: 2px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
 }
 .form-content h3 {
    font-family: 'Marck Script', cursive;
    font-size: 22px;
    color: #898989;
    font-weight: normal;
 }
 .form-content input[type="submit"] {
    margin: 20px 0;
    padding: 0 10px;
    background: #FF6B6B;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s linear
 }
 .form-content input[type="submit"]:hover {
    background: #C44D58;
 }